.home .top  {
    background: url('../static/9_Blog_Layout_Best_Practices_From_2017.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    margin-bottom: 20px;
}

.home .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10vh;
}

.home img {
    height: 150px;
}

.home h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}