.posts .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10vh;
}

.posts img {
    height: 150px;
}

.posts h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}